


<div class="card mx-5 my-5 px-5 py-5">
    <h1 class="mb-3">Personas</h1>
    <%= simple_form_for(@person) do |f| %>
      <%= f.error_notification %>
      <div class="form-row mb-0">

        <div class="col-md-4 mb-3 form-group">
          <%= f.label :name, 'Nombre' %>
          <%= f.input :name, label: false %>
          <div class="messages"></div>
        </div>
        <div class="col-md-4 mb-3 form-group">
          <%= f.label :lastname, 'Apellido' %>
          <%= f.input :lastname, label: false %>
          <div class="messages"></div>
        </div>
        <div class="col-md-4 mb-3 form-group">
          <%= f.label :phone, 'Telefono' %>
          <%= f.input :phone, label: false %>
          <div class="messages"></div>
        </div>

      </div>
      <div class="form-row">

        <div class="col-md-3 mb-3 form-group">
          <%= f.label :email, 'Email' %>
          <%= f.input :email, label: false %>
          <div class="messages"></div>
        </div>
        <div class="col-md-3 mb-3 form-group">
          <%= f.label :address, 'Direccion' %>       
          <%= f.input :address, label: false %>
          <div class="messages"></div>
        </div>
        <div class="col-md-3 mb-3 form-group">
          <%= f.label :identification, 'Identificacion' %>
          <%= f.input :identification, label: false %>
          <div class="messages"></div>
        </div>
        <div class="col-md-3 mb-3 form-group">
          <%= f.label :company, 'Empresa' %>
          <%= f.input :company, label: false %>
          <div class="messages"></div>
        </div>
      </div>


      <%= f.association :user, selected: current_user, input_html: { hidden: true }, label: false  %>
      <%= f.button :submit, 'Guardar' %>
      <%= link_to 'Atras', people_path, :class => "btn btn-info" %>

    <% end %>
  </div>