


<div class="card mx-5 my-5 px-5 py-5">
    <h1 class="mb-3">Personas</h1>
    <%= simple_form_for(@person) do |f| %>
      <% if f.error_notification %>
        <div class="alert alert-warning" role="alert">
          Por favor revisa
        </div>
      <% end %>
      <div class="form-row mb-0">

        <div class="col-md-4 mb-3 form-group">
          <%= f.label :nombre, 'Nombre' %>
          <%= f.input :name, 
                      label: false,
                      required: true,
                      error: 'El nombre no es valido', 
                      :input_html => { :id => 'persona_nombre' } %>
        </div>
        <div class="col-md-4 mb-3 form-group">
          <%= f.label :lastname, 'Apellido' %>
          <%= f.input :lastname, 
                      label: false,
                      required: true,
                      error: 'El apellido no es valido', 
                      :input_html => { :id => 'persona_apellido' } %>
        </div>
        <div class="col-md-4 mb-3 form-group">
          <%= f.label :phone, 'Telefono' %>
          <%= f.input :phone, 
                      label: false,
                      required: true,
                      error: 'El telefono no es valido', 
                      :input_html => { :id => 'persona_telefono' } %>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-4 mb-3 form-group">
          <%= f.label :email, 'Email' %>
          <%= f.input :email, label: false %>
        </div>
        <div class="col-md-4 mb-3 form-group">
          <%= f.label :address, 'Direccion' %>  
          <%= f.input :address, 
            label: false,
            required: true,
            error: 'La direccion no es valida', 
            :input_html => { :id => 'persona_direccion' } %>
        </div>
        <div class="col-md-4 mb-3 form-group">
          <%= f.label :identification, 'Identificacion' %>
          <%= f.input :identification, 
            label: false,
            required: true,
            error: 'La identificacion no es valida' %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 mb-3 form-group">
          <%= f.label :rol, 'Rol' %>
          <%= f.select :rol, options_for_select([ "Seleccion el rol de la persona","Empleado", "Visitante", "Contratista" ]), 
            {}, { class: "form form-group form-control", id: "person_rol", error: 'La identificacion no es valida' }  %>
          <div class="messages"></div>
        </div>
        <div class="col-md-3 mb-3 form-group">
          <%= f.label :company, 'Empresa',  class: "ocultame", id: "label_company" %>
          <%= f.input :company, label: false, :input_html => { class: "ocultame", id: "persona_empresa"} %>
          <div class="messages"></div>
        </div>
      </div>

      <!-- Enviar por defecto el usuario que registro a la persona -->
      <%= f.association :user, selected: current_user, input_html: { hidden: true }, label: false  %>

      <%= f.button :submit, 'Guardar', :id => "persona_guardar"  %>
      <%= link_to 'Atras', people_path, :class => "btn btn-info" %>

    <% end %>
  </div>

<script>
$(document).ready(function(){
    $("#person_rol").change(function(){
        var selectedCountry = $("#person_rol option:selected").text();
        if(selectedCountry == "Contratista" ){
              $('#label_company').removeClass('ocultame');
              $('#persona_empresa').removeClass('ocultame').val("");

        }
        else if(selectedCountry == "Visitante" ){
              $('#label_company').addClass( "ocultame" )
              $('#persona_empresa').addClass('ocultame').val("No aplica");

        }
        else if(selectedCountry == "Empleado" ){
              $('#label_company').addClass('ocultame');
              $('#persona_empresa').addClass('ocultame').val("Personal Propio");

        }
    });
});
</script>