
<div class="container">
	<div class="login-container">
      <h1>Login</h1>
      <div class="avatar"></div>
      <div class="form-box">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.label :email, 'Email' %>
            <%= f.input :email, label: false %>
            <%= f.label :password, 'Clave' %>
            <%= f.input :password, label: false %>
            <br/>
            <%= f.button :submit, "Log in", input_html: { class: 'btn btn-info btn-block login' }  %>
        <% end %>
      </div>
  </div>   

</div>

