<br/>
<div class="d-flex justify-content-center">
   <div class="btn-group demoPadder" role="group" aria-label="Basic example">
      <%= link_to "Usuarios Pdf", reporte_usuarios_path(format: "pdf"), target: "_blank", :class => "btn btn-primary" %>
      <%= link_to "Registros Pdf", reporte_registros_path(format: "pdf"), target: "_blank", :class => "btn btn-primary" %>
      <%= link_to "Personas Pdf", reporte_personas_path(format: "pdf"), target: "_blank", :class => "btn btn-primary" %>
   </div>
</div>
<br/>
<p>
  Download:
  <%= link_to "CSV", print_users_path(format: "csv") %> |
  <%= link_to "Excel", print_users_path(format: "xls") %>
</p>
<p>
  Download:
  <%= link_to "CSV", print_people_path(format: "csv") %> |
  <%= link_to "Excel", print_people_path(format: "xls") %>
</p>
<td><%= link_to 'Mostrar',  print_records_path(format: "csv"), :class => "btn btn-info btn-sm" %></td>
<td><%= link_to 'Mostrar',  print_records_path(format: "xls"), :class => "btn btn-info btn-sm" %></td>


<div class="container my-2">
   <div class="row">
      <div class="col-lg-6 col-md-4 mb-12">
         <div class="card card-cascade wider">
            <div class="card-body card-body-cascade text-center">
               <div class="alert alert-primary" role="alert">
                  <h2 class="card-title"><strong>Registro por dia  </strong></h2>
               </div>
               <div class="container">
               <div class="row">
                  <div class="col-sm">
                  <div class="alert alert-secondary" role="alert">
                  <%= pie_chart Record.group_by_day(:created_at).count  %>
                  </div>        
                  </div>
               </div>
               </div>    
            </div>
         </div>
      </div>
      <div class="col-lg-6 col-md-4 mb-12">
         <div class="card card-cascade wider">
            <div class="card-body card-body-cascade text-center">
               <div class="alert alert-primary" role="alert">
                  <h2 class="card-title"><strong>Registro al mes  </strong></h2>
               </div>
               <div class="container">
               <div class="row">
                  <div class="col-sm">
                  <div class="alert alert-secondary" role="alert">
                  <%= pie_chart Record.group_by_month(:created_at).count  %>
                  </div>        
                  </div>
               </div>
               </div>    
            </div>
         </div>
      </div>
   </div>
</div>


<div class="container my-2">
   <div class="row">
      <div class="col-lg-6 col-md-4 mb-12">
         <div class="card card-cascade wider">
            <div class="card-body card-body-cascade text-center">
               <div class="alert alert-primary" role="alert">
                  <h2 class="card-title"><strong>Personas registradas por dia  </strong></h2>
               </div>
               <div class="container">
               <div class="row">
                  <div class="col-sm">
                  <div class="alert alert-secondary" role="alert">
                  <%= pie_chart Person.group_by_day(:created_at).count  %>
                  </div>        
                  </div>
               </div>
               </div>    
            </div>
         </div>
      </div>
      <div class="col-lg-6 col-md-4 mb-12">
         <div class="card card-cascade wider">
            <div class="card-body card-body-cascade text-center">
               <div class="alert alert-primary" role="alert">
                  <h2 class="card-title"><strong>Registro de personas al mes  </strong></h2>
               </div>
               <div class="container">
               <div class="row">
                  <div class="col-sm">
                  <div class="alert alert-secondary" role="alert">
                  <%= pie_chart Person.group_by_month(:created_at).count  %>
                  </div>        
                  </div>
               </div>
               </div>    
            </div>
         </div>
      </div>
   </div>
</div>

<div class="container my-2">
   <div class="row">
      <div class="col-lg-6 col-md-4 mb-12">
         <div class="card card-cascade wider">
            <div class="card-body card-body-cascade text-center">
               <div class="alert alert-primary" role="alert">
                  <h2 class="card-title"><strong>Usuarios registrados por dia  </strong></h2>
               </div>
               <div class="container">
               <div class="row">
                  <div class="col-sm">
                  <div class="alert alert-secondary" role="alert">
                  <%= pie_chart User.group_by_day(:created_at).count  %>
                  </div>        
                  </div>
               </div>
               </div>    
            </div>
         </div>
      </div>
      <div class="col-lg-6 col-md-4 mb-12">
         <div class="card card-cascade wider">
            <div class="card-body card-body-cascade text-center">
               <div class="alert alert-primary" role="alert">
                  <h2 class="card-title"><strong>Usuarios registrados al mes  </strong></h2>
               </div>
               <div class="container">
               <div class="row">
                  <div class="col-sm">
                  <div class="alert alert-secondary" role="alert">
                  <%= pie_chart User.group_by_month(:created_at).count  %>
                  </div>        
                  </div>
               </div>
               </div>    
            </div>
         </div>
      </div>
   </div>
</div>




<div class="container my-2">
   <div class="row">
      <div class="col-lg-6 col-md-4 mb-12">
         <div class="card card-cascade wider">
            <div class="card-body card-body-cascade text-center">
               <div class="alert alert-danger" role="alert">
                  <h2 class="card-title"><strong>Registros con fiebre  </strong></h2>
               </div>
               <div class="container">
               <div class="row">
                  <div class="col-sm">
                  <div class="alert alert-secondary" role="alert">
                  <%= pie_chart Record.group(:entrance_temperature).where("entrance_temperature > 38").count %>
                  </div>        
                  </div>
               </div>
               </div>    
            </div>
         </div>
      </div>

   </div>
</div>


